<mat-toolbar
  color="primary"
>
  <div class="navigation__wrapper">
    <a
      routerLink="/"
    >
      TechWorld
    </a>
    <nav>
      <a
        *ngFor="let link of links"
        [routerLink]="link.path"
      >
        {{ link.title }}
      </a>
    </nav>
  </div>
  <div>
    <a
      routerLink="cart"
      class="nav__link"
    >
      <mat-icon>shopping_cart</mat-icon>
      <div class="counter cart__counter">{{ getCount('cart') }}</div>
    </a>
    <a
      routerLink="favorites"
      class="nav__link"
    >
      <mat-icon>favorite</mat-icon>
      <div class="counter fav__counter">{{ getCount('favorites') }}</div>
    </a>
  </div>
</mat-toolbar>
