<div class="about__container first__container">
  <p class="intro__text">
    Welcome to our phone store located at Zdravka Celara 16! We are dedicated to providing the
    highest quality phones and accessories to our customers. Our store offers a wide selection of
    the latest models from top brands such as Apple, Samsung, and Huawei, as well as a range of budget-friendly
    options to fit any budget.
  </p>
</div>
<div class="about__container">
  <div class="about__info">
    <img src="../../../assets/img/apple-store.webp" alt="Apple store image" />
    <p>
      In addition to phones, we also carry a variety of accessories such as cases, chargers, and screen protectors
      to keep your device protected and functioning at its best. We only stock products from reputable manufacturers
      to ensure that our customers receive high-quality products that will last.
    </p>
  </div>
  <div class="my-divider"></div>
  <div class="about__info last__card">
    <p>
      At our store, we believe that customer satisfaction is key, which is why we strive to provide a seamless
      and hassle-free shopping experience. We are committed to offering competitive prices and regularly run
      promotions to ensure that our customers get the best value for their money.
    </p>
    <img src="../../../assets/img/store.jpg" alt="Store image" />
  </div>
  <p class="outro__text">So whether you're looking for a brand new phone or just need a new charger, come visit us at Zdravka Celara 16 and let us help you find what you need!</p>
</div>

