<h1>Your favorites</h1>

<section class="favorite__cards">
  <button
    *ngIf="favoriteProducts.length"
    mat-raised-button
    color="primary"
    class="empty__favorites"
    (click)="emptyFavorites()"
  >
    Empty favorites
  </button>
  <span
    *ngIf="!favoriteProducts.length"
  >
    Your favorites list is empty!
  </span>
  <app-fav-product
    *ngFor="let product of favoriteProducts"
    [product]="product"
    [collection]="'favorites'"
    (itemRemoved)="removeFromFavorites($event)"
  >
    <button
      [attr.data-productId]="product.id"
      (click)="addToCollection($event, 'cart')"
      [disabled]="! product.stock"
    >
      Add to cart
    </button>
  </app-fav-product>
</section>
